

.navbar{
      min-height: 100px;
      font-size: 25px;
      }
.navbar-brand{
       font-size: 25px;
       }
.logo{
      width: 120px;
      height: 60px;
}

body{
font-family: monospace;
background-color: #e6efe8;

}

h1,h2,h3,h4,h5,h6{
font-color: blue;

}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

