{% extends 'base1.html' %}
{% block title %}Book Reviews {% endblock %}
{% block content %}
{% block profileactive %} active {% endblock profileactive %}
<style>
    .flexrow{
        display:flex;
        border:2px black;
    }
    .flexrow> div{
        flex:1;
    }

    .info{
        border: 2px solid green;
        border-radius: 5px 25px;
        border-color:white;
        padding:5px;
        margin:20px 5px 5px 5px;
        }
</style>

<div class="container">
    <div class="flexrow">
        <div class="info">
            <p>Profile</p>
            <p>
                Username: <strong>{{ request.user.username }}</strong><br>
                Email: <strong>{{ request.user.email }}</strong><br>
                Last Login: <strong>{{ request.user.last_login }}</strong><br>
            </p>
        </div>
    </div>
</div>


{% endblock %}