{% extends 'base1.html' %}

{% block title %}Contact Us{% endblock %}
{% block aboutactive %} active {% endblock aboutactive %}
 
{% block content %}
<div class="container">
    <h3 class="text-center">About Us</h3>
    <p>
        We provide Community services which is work performed by a person or group of people for the benefit and betterment of their community without
        any form of compensation.[1] Community service can be distinct from volunteering, since it is not always performed on a voluntary basis
        and may be compulsory per situation. Although personal benefits may be realized, it may be performed for a variety of reasons including
        citizenship requirements, a substitution of criminal justice sanctions, requirements of a school or class, and requisites for the
        receipt of certain benefits.
    </p>
</div>
{% endblock %}