<!--
<html>
    <head>
        <title>
            Home Page
        </title>
    </head>

    <body>
        <h1>Welcome to Book Review</h1>
        {{ data }} template var -->
<!--
        {% for items in data %}
            <h3>{{ items }}</h3>
            <p style="color: red"><strong>Date Published Date is:{{ items.publication_date }}</strong></p>
            <p style="color: blue">isbn is:{{ items.isbn }}</p>


        {% endfor %}
    </body>
</html>
-->

{%  load static %}
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>Local Community Service</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

  </head>
  <body style="background-image: url('static/images/backg.jpg');background-size:cover;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/img_1.png' %}" class="logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}" >
              <a class="nav-link" href="{% url 'aboutUs' %}"><span >About Us</span></a>
            </li>
            <li class="nav-item {% block serviceactive %} {% endblock serviceactive %} ">
              <a class="nav-link" href="{% url 'serviceHome' %}">Services</a>
            </li>
            <li class="nav-item {% block contactactive %} {% endblock contactactive %}" >
              <a class="nav-link" href="{% url 'contact' %}">Contact_Us</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% block addactive %} {% endblock addactive %}" >
                    <a class="nav-link"  role="button" href="{% url 'serviceadd'  %}">Add Service</a>
                </li>
            {% endif %}

            {% if user.is_authenticated %}

            <li class="nav-item {% block profileactive %} {% endblock profileactive %} ">
              <a class="nav-link" href="/accounts/profile">My Profile</a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
              <li class="nav-item {% block logoutactive %} {% endblock logoutactive %} ">
                <a class="nav-link" href="/accounts/logout">Logout</a>
              </li>
            </ul>
          {% else %}
            <li class="nav-item {% block loginactive %} {% endblock loginactive %} ">
                <a class="nav-link" href="/accounts/login">Login</a>
            </li>
            {% endif %}

              {% if not user.is_authenticated %}
                  <li class="nav-item {% block registrationactive %} {% endblock registrationactive %}" >
                  <a class="nav-link" href="/accounts/registration">Registration</a>
                  </li>
            </ul>


          {% endif %}


        <form action="{% url 'search' %}"  class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ search_text }}" minlength="3">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
        {% for message in messages %}
              <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
                  <strong>Message: </strong> {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
        {% endfor %}
          <div class="container-fluid">
              <div class="alert alert-message">


              </div>
          </div>

    {% block content %}
    <h1>Welcome to Book-R</h1>
    {% endblock %}
    <br><br><br><br><br><br><br><br><br><br>

    <!-- footer -->
        <footer class="page-footer font-small blue">
          <div class="footer-copyright text-center py-3">
            2021 copyright:
            <a href="#">Book Review System</a>
            <p>Contact Admin: <a href="mailto:demo@gmail.com">demo@gmail.com</a></p>
          </div>
        </footer>
    <!-- footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>